.sl-CreateAccountForm {
  display: inline-block;
  width: 20rem;
}

.sl-CreateAccountForm-button {
  text-align: center;
}

.sl-CreateAccountForm-field input {
  box-shadow: 0 0 0 2rem white inset;
}

.sl-CreateAccountForm-field label {
  font-size: 1rem;
}

.sl-CreateAccountForm-grid {
  padding: 1rem;
}

.sl-CreateAccountForm-link {
  font-size: 0.7rem;
  left: 10%;
  position: relative;
  text-align: center;
  top: 25%;
}

.sl-CreateAccountForm-notification {
  font-size: 0.7rem;
  text-align: center;
}

.sl-CreateAccountForm-notification a {
  padding-left: 0.5rem;
}

.sl-CreateAccountForm-title {
  font-size: 1rem;
  text-align: center;
}
