.sl-LoginForm {
  display: inline-block;
  width: 20rem;
}

.sl-LoginForm-button {
  text-align: center;
}

.sl-LoginForm-field input {
  box-shadow: 0 0 0 2rem white inset;
}

.sl-LoginForm-field label {
  font-size: 0.8rem;
}

.sl-LoginForm-grid {
  padding: 1rem;
}

.sl-LoginForm-link {
  font-size: 0.7rem;
  left: 10%;
  position: relative;
  text-align: center;
  top: 25%;
}

.sl-LoginForm-notification {
  color: #D80000;
  font-size: 0.8rem;
  text-align: center;
}

.sl-LoginForm-title {
  font-size: 1rem;
  text-align: center;
}
