.sl-LogoutButton {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.sl-PostsPage-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.sl-PostsPage-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
